<aside id="sidebar">
    <a href="https://www.pishop.co.za/index.php?source=github" class="visit_button">
        <small>Visit us at</small>
        PiShop.co.za
    </a>
    <p>Published by PiShop under a <a href="https://github.com/pishop-io/pishop-io.github.io/blob/main/LICENSE" target="_blank">MIT license</a>
    <p>If you would like to contribute your experience back to the project in the form of encountered bug reports, necessary documentation changes, new feature requests, or helping to contribute new content; this can be done through the use of the repository’s <a href="https://github.com/pishop-io/pishop-io.github.io/issues">Issues</a> list.</p>
    <p>PiShop (Pty) Ltd. &copy; 2014 - 2020. All rights reserved. E&amp;OE.</p>
</aside>